/* for unexpanded posts */
.post {
  background-color: #CCD6DD;
  margin: auto auto;
  margin-bottom: 2%;
  padding: 15px 5px 5px;
  width: 95%;
}

form, button{
  margin-left: 75px;
  display: inline;
  font-family: 'Noto Serif', serif;
}

button:hover {
  color: grey;
}

.post-title {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  word-break: break-all; 
}

.post-divider {
  height: 2px;
  margin: 10px 10px;
  background-color: black;
}

.post-comment {
  text-align:center;
  margin-bottom: 8px;
}

.posted-by {
  font-family: 'Noto Serif', serif;
  display: inline;
}

.comments {
  font-family: 'Noto Serif', serif;
  background-color: #CCD6DD;
  margin: auto auto;
  margin-bottom: 2%;
  padding: 10px 5px 5px;
  text-align: center;
  display: block;
  width: 95%;
}

.comments-title {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  word-break: break-all;
  display: inline;  
}

.reply {
  width: 80%;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  font-family: 'Noto Serif', serif;
}