<div class='individual-comment'>
  <h1 class='posted-by'><a
      title='View Account Details'
      href='../accounts/account3.html'
    >{{username}}</a>
    answers:</h1>
  <p class='posted-by'> {{commentContent}}</p>
  <a title='Edit Comment' href='../edit-comment.html'><i
      class='far fa-edit'
    ></i></a>
  <a title='Delete Comment' href='../index-logged-in.html'><i
      class='fas fa-trash-alt'
    ></i></a>
</div>