<div class='post rounded-lg'>
  <h1 class='post-title'><a
      title='View Post'
      href='/post/view/{{postId}}'
    >{{postTitle}}</a></h1>
  <hr class='post-divider' />
  <div class='post-comment'>
    <h1 class='posted-by'>Posted by:
      <a title='View Account Details' href='login.html'>{{accountName}}</a></h1>
    <a title='Comment' href='/post/view/{{postId}}'><i
        class='fas fa-comments fa-2x'
      ></i></a>
  </div>
</div>