<h2 class='mt-3 q-subtitle-black'>{{title}}</h2>
<hr class='my-3 q-gray' />
<p>Username</p>
<input class='rounded-md border-black input-login' type='text' />
<p>Password</p>
<input class='rounded-md border-black input-login' type='text' />
<br />
<button
  class='btn-submit bg-blue-300 rounded-md mt-3'
  onclick="location.href='./index-logged-in.html'"
  type='button'
>
  <h2 class='mx-3 my-1 q-subtitle-black'>{{title}}</h2>
</button>
<p class='q-subtitle-dgray text-center my-3'>
  <a href='register.html'>No account yet? Register here!</a>
</p>