<h2 class="posted-by mt-3 q-subtitle-black">{{title}}</h2>
<hr class="my-3 q-gray" />

<form action="submit" method="post" id="submit">
	<input type="text" name="content"/>

	<div class="buttons">
		<button class="center-block btn-submit bg-blue-300 rounded-md inline" onclick="goBack()">
			<h2 class="mx-3 my-1 q-subtitle-black inline">{{text2}}</h2>
		</button>

		<div class="buttons">
			<button class="center-block btn-submit bg-blue-300 rounded-md inline" onclick="goBack()" name="submit" type="'submit" form="submit">
				<h2 class="mx-3 my-1 q-subtitle-black inline">{{buttonText}}</h2>
			</button>
</form>
<button class="btn-submit bg-blue-300 rounded-md inline" onclick="goBack()" type="button">
	<h2 class="mx-3 my-1 q-subtitle-black inline">Cancel</h2>
</button>

<script>
	function goBack() {
		window.history.back();
	}
</script>
</div>
