<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>QuickSolve</title>
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='/css/styles.css' />
    <!-- insert more custom css files here (if needed) -->
    <link rel='stylesheet' href='/css/index-styles.css' />
    <link rel='stylesheet' href='/css/post-styles.css' />
    <!-- tailwind link -->
    <link
      href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'
      rel='stylesheet'
    />
    <!-- Google fonts link -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap'
      rel='stylesheet'
    />
    <!-- Font awesome link -->
    <script
      src='https://kit.fontawesome.com/0947d2976d.js'
      crossorigin='anonymous'
    ></script>
  </head>

  <body>
    <!-- index main -->
    <div class='background'>
      {{>header}}

      <div class='main-box bg-white rounded-lg'>

        {{#each posts}}
          {{>post this}}
        {{/each}}

      </div>
    </div>
  </body>
</html>