body {
  background-image: url('../images/background.png');
}

.background {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main-box {
  width: 75%;
  min-height: 75%;
  overflow: hidden;
  padding-top: 1%;
  margin: auto auto;
  display: inline;
}
